* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
}

.light {
  background: #e2e2e2;
}

.dark {
  background: #000;
  color: #fff;
}

.list {
  display: flex;
  align-self: center;
  gap: 30px;
}

.list a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.dark .list a {
  color: #fff;
}
